#templateList{
	text-align: center;
}

a{
	text-decoration: none;
}

.category{
	margin-top: 30px;
	clear: both;
}

.category .categoryName{
	text-align: center;
	border-top: 1px solid gray;
}

.category .categoryName span{
	display: inline-block;
	padding: 5px;
	background: white;
	position: relative;
	top: -15px;
}

.link{
	width: 200px;
	list-style: none;
	display: inline-block;
	overflow: hidden;
	border: 1px solid #EEE;
	margin: 0 20px 20px 0;
}

.link:hover{
	border-color: #CCC;
}

.link .name{
	display: block;
	background: #EEE;
	padding: 3px 0 5px;
	color: #333;
}

.link:hover .name{
	background: #CCC;
}

.link .thumbMask{
	overflow-x: hidden;
	overflow-y: scroll;
	margin-right: -16px;
	height: 200px;
	display: block;
}

.thumbMask .thumb{
	width: 100%;
	display: block;
}

header{
	height: 100px;
	background: #EEE;
}

#main{
	padding: 0 20px;
	margin: 20px auto;
	overflow: hidden;
}